.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  width: 400px; /* Ajuster la largeur selon vos besoins */
  padding: 20px;
  border: 1px solid rgb(27, 26, 26);
  border-radius: 5px;
  background-color: rgb(27, 26, 26);
}

html,
body {
  background-color: black;
}

.titreregister {
  margin-top: 1em;
  margin-bottom: 1em;
  color: white;
  text-align: center;
  font-size: 5em;
}

.labelRegister {
  color: white;
}

.inputRegister {
  background-color: black;
  color: white;
  font-family: inherit;
  width: 100%;
  height: 2em;
  border-radius: 10px;
}
